/* 
 * Copyright (C) 2016 SpigotLeaks.org
 * PLEASE DO NOT STEAL!
 */
 
body {
  padding-top: 60px;
  background: #000000;
  color: #ffffff;
}

.navbar-inverse 
.navbar-brand {
  color: #ffa500;
}

@media (max-width: 767px) {
  .navbar-toggle {
    border: none;
    outline: none;
  }
}

.panel-default {
  background-color: #000000;
}

//************************//
    For the annoucememts
//************************//

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

